// Graphics setup configuration
ConfigData(
    // Window setup config
    window_setup: (
        title: "--- SURI SPRINT ---",
        samples: Eight, // anti-aliasing setting
        vsync: true,
        icon: "/images/icon.png",
        srgb: true,
    ),
    // Window mode config
    window_mode: (
        width: 1000.0,
        height: 800.0,
        maximized: true,
        fullscreen_type: Windowed,
        borderless: false,
        min_width: 0.0,
        max_width: 0.0,
        min_height: 0.0,
        max_height: 0.0,
        resizable: true,
    ),
    start_level: "overview_1", //overview_1
    music_volume: 0.00,
    audio_volume: 0.00,
    gravity: 30,
)