LevelSectionConfig(
    
    items: [
        ParallaxSprite (x: 0.0, y: 0.0, lvl_center: (500,375), sprites: [  // (1925,2300)
            SpriteDesc ( x: 0.0, y: 0.0, sprite: Some("entities/electric-bg"), z: 1.0, scale: (3,3), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
        ], scroll_factors: [0.8] ),
    ]
)