AnimSpriteConfig(
    spritesheet: false,
    path: "/ghost_anim.png",
    scale: (1.2, 1.2),
    z_order: 100.0,
    alpha: 0.75, //0.4,
    angle: 0.0,
    src: (0.0, 0.0, 1.0, 1.0),
    grid_layout: Some( AnimGridLayout(
        cols: 4,
        rows: 1, 
    )),
    animations: Some([
        AnimationDef(
            name: "default",
            frames: [
                (0,0.10),(1,0.15),(3,0.15),
                (0,0.10),(1,0.10),(2,0.10),(3,0.10), 
                (0,0.15),(1,0.15),(3,0.15), 
                (3,0.10),(2,0.10),(1,0.10),(0,0.10),(1,0.10),(2,0.10),(3,0.10), 
                (0,0.15),(1,0.15),(3,0.15), 
                (0,0.25),(1,0.25),(3,0.25), 
                (0,0.25),(1,0.35),(3,0.45), 
                (3,0.25),(2,0.15),(1,0.15),(0,0.5), 
            ],
            looped: true,
            reverse: false,
            end_anim: None
        ),
    ]),
    start_animation: Some([
        "default"
    ]),
)