ParticleSysConfig(
    width: 3000,
    height: 10,
    scale: (0.5, 0.5),
    ang: 0,
    ang_vel: 0,
    vel: (150, 1000),
    vel_acc: (0, 0),
    ang_range: 0,
    ang_vel_range: 0,
    vel_range: (50, 50),
    vel_acc_range: (0, 0),
    sprite: Some("/light-ball.png"),
    start_alpha: 1.0,
    end_alpha: 1.0,
    color: None,
    emit_rate: 0.001,
    max_particles: 7500,
    ttl: 2.0,
)