ParticleSysConfig(
    width: 25,
    height: 25,
    scale: (0.8, 0.8),
    ang: 0,
    ang_vel: 0,
    vel: (0, 0),
    vel_acc: (0, -50),
    ang_range: 0,
    ang_vel_range: 0,
    vel_range: (50, 20),
    vel_acc_range: (0, 0),
    sprite: Some("/smoke_1.png"),
    start_alpha: 0.15,
    end_alpha: 0.0,
    color: None,
    emit_rate: 0.15,
    max_particles: 150,
    ttl: 2.5,
)