LevelConfig(
    name: "Intro A",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 1000.0, max_y: 750.0,
        solid_sides: (true, true, true, true),
    ),
    soundtrack: "Suri Title theme.mp3",
    items: [
        Player ( x: 80.0, y: 700.0 ),
        
        ImportSection ( x: 1200, y: 400, name: "sections/bg-a" ),

        /* ParallaxSprite (x: 0.0, y: 0.0, lvl_center: (500,375), sprites: [  // (1925,2300)
            SpriteDesc ( x: 0.0, y: 0.0, sprite: Some("entities/electric-bg"), z: 1.0, scale: (3,3), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
        ], scroll_factors: [0.8] ),

        ParallaxSprite (x: 0.0, y: 0.0, lvl_center: (500,375), sprites: [  // (1925,2300)
            SpriteDesc ( x: 0.0, y: 0.0, sprite: Some("entities/dark-tile-bg"), z: 2.0, scale: (1,1), angle: 0.0, alpha: 0.85,src: (0,0,9,7)),
        ], scroll_factors: [0.35] ),

        ParallaxSprite (x: -700.0, y: 0.0, lvl_center: (500,375), sprites: [  // (1925,2300)
            SpriteDesc ( x: -60.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 6.0, scale: (0.18,0.5), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: -40.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 5.0, scale: (0.22,0.525), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: -20.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 4.0, scale: (0.26,0.55), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 0.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 3.0, scale: (0.3,0.575), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
        ], scroll_factors: [0.2, 0.25, 0.3, 0.35] ),

        ParallaxSprite (x: 700.0, y: 0.0, lvl_center: (500,375), sprites: [  // (1925,2300)
            SpriteDesc ( x: 60.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 6.0, scale: (0.18,0.5), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 40.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 5.0, scale: (0.22,0.525), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 20.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 4.0, scale: (0.26,0.55), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 0.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 3.0, scale: (0.3,0.575), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
        ], scroll_factors: [0.2, 0.25, 0.3, 0.35] ),

        ParallaxSprite (x: 0.0, y: -575.0, lvl_center: (500,375), sprites: [  // (1925,2300)
            SpriteDesc ( x: 0.0, y: -45.0, path: Some("/images/blue-block-bg.png"), z: 6.0, scale: (0.5,0.18), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 0.0, y: -30.0, path: Some("/images/blue-block-bg.png"), z: 5.0, scale: (0.525,0.22), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 0.0, y: -15.0, path: Some("/images/blue-block-bg.png"), z: 4.0, scale: (0.55,0.26), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 0.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 3.0, scale: (0.575,0.30), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
        ], scroll_factors: [0.2, 0.25, 0.3, 0.35] ),

        ParallaxSprite (x: 0.0, y: 575.0, lvl_center: (500,375), sprites: [  // (1925,2300)
            SpriteDesc ( x: 0.0, y: 45.0, path: Some("/images/blue-block-bg.png"), z: 6.0, scale: (0.5,0.18), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 0.0, y: 30.0, path: Some("/images/blue-block-bg.png"), z: 5.0, scale: (0.525,0.22), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 0.0, y: 15.0, path: Some("/images/blue-block-bg.png"), z: 4.0, scale: (0.55,0.26), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
            SpriteDesc ( x: 0.0, y: 0.0, path: Some("/images/blue-block-bg.png"), z: 3.0, scale: (0.575,0.30), angle: 0.0, alpha: 1.0,src: (0,0,1,1)),
        ], scroll_factors: [0.2, 0.25, 0.3, 0.35] ), */

        Sprite ( x: 500.0, y: 375.0, sprite: "entities/tile-bg", z: 10.0, angle: 0.0, src: (-4,-3,8,6), ),

        //Portal ( x: 600.0, y: 700.0, w: 50.0, h: 50.0, name: "portal_b", destination: ""),

        DynEmptyBox ( x: 500.0, y: 695.0, w: 60.0, h: 40.0, ang: 0.0),
        DynEmptyBox ( x: 700.0, y: 670.0, w: 120.0, h: 60.0, ang: 3.1415),

        Pickup ( pickup_type: Point, x: 200, y: 590, ),
        StaticLevelProp ( x: 200.0, y: 650.0, w: 32.0, h: 32.0, ang: 0.0, image: "entities/grass-block-light", img_w: 32.0, img_h: 32.0),
        Pickup ( pickup_type: Point, x: 264, y: 520, ),
        StaticLevelProp ( x: 264.0, y: 580.0, w: 32.0, h: 32.0, ang: 0.0, image: "entities/grass-block-light", img_w: 32.0, img_h: 32.0),

        StaticLevelProp ( x: 400.0, y: 425.0, w: 64.0, h: 32.0, ang: 0.0, image: "entities/grass-block-light", img_w: 32.0, img_h: 32.0),
        //Platform ( x: 450.0, y: 350.0, w: 100.0, h: 20.0, ang: 0.0),
        StaticLevelProp ( x: 700.0, y: 200.0, w: 128.0, h: 32.0, ang: 0.0, image: "entities/grass-long-light", img_w: 128.0, img_h: 32.0),

        ExitCustom ( x: 900.0, y: 100.0, w: 25.0, h: 25.0, name: "", destination: "b", image: "entities/portal", img_w: 48.0, img_h: 48.0),

        Ghost ( x: 200.0, y: 100.0 ),

    ],
)