LevelConfig(
    name: "b",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 1000.0, max_y: 750.0,
        solid_sides: (true, true, true, true),
    ),
    soundtrack: "",
    items: [
        Player ( x: 300.0, y: 600.0 ),
        
        Sprite ( x: 500.0, y: 375.0, sprite: "entities/tile-bg", z: 1.0, angle: 0.0, src: (-4,-3,8,6), ),

        //Portal ( x: 600.0, y: 700.0, w: 50.0, h: 50.0, name: "portal_b", destination: ""),

        Platform ( x: 700.0, y: 600.0, w: 80.0, h: 20.0, ang: 0.0),
        Platform ( x: 200.0, y: 400.0, w: 40.0, h: 20.0, ang: 0.0),
        Platform ( x: 450.0, y: 200.0, w: 50.0, h: 20.0, ang: 0.0),

        Exit ( x: 900.0, y: 100.0, w: 28.0, h: 28.0, name: "", destination: "c"),

        Ghost ( x: 200.0, y: 100.0 ),

    ],
)