LevelConfig(
    name: "Blocks A",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 1000.0, max_y: 750.0,
        solid_sides: (true, true, true, true),
    ),
    soundtrack: "pirates/track-09.mp3",
    items: [
        Player ( x: 80.0, y: 700.0 ),


        //PortalSide ( x: 50.0, y: 590.0, z: Some(190), w: 50, color: "red", name: "portalA2", destination: "portalB2", start_enabled: true, normal: (1.0,0.0) ),
        //PortalSide ( x: 950.0, y: 590.0, z: Some(660), w: 50, color: "red", name: "portalB2", destination: "portalA2", start_enabled: true, normal: (-1.0,0.0) ),

        StaticLevelProp( x: 500, y: 500.0, w: 250, h: 32.0, ang: 1.57, image: "entities/box", img_w: 48.0, img_h: 48.0,
                z: Some(100.0) ),

        StaticLevelProp( x: 400, y: 650, w: 64, h: 32.0, ang: 0, image: "entities/grass-block-light", img_w: 32.0, img_h: 32.0,
                z: Some(100.0) ),

        // bottom left purple portal (to middle)
        PortalSide ( x: 20.0, y: 680.0, z: Some(190), ang: 0.0, w: 50, h: 100, color: "purple", name: "portalA", destination: "portalA3", start_enabled: true, normal: (1.0,0.0) ),

        // bottom right purple portal (to bottom left)
        PortalSide ( x: 980.0, y: 680.0, z: Some(660), ang: 0.0, w: 50, h: 100, color: "purple", name: "portalB", destination: "portalA", start_enabled: true, normal: (-1.0,0.0) ),

        // middle purple portal (going right)
        PortalSide ( x: 520.0, y: 350.0, z: Some(190), ang: 0.0, w: 50, h: 100, color: "purple", name: "portalA3", destination: "portalB", start_enabled: true, normal: (1.0,0.0) ),
        
        // raised left floor portal (red)
        PortalSide ( x: 400.0, y: 618.0, z: Some(660), ang: -1.57, w: 50, h: 100, color: "red", name: "portalB3", destination: "portalB5", start_enabled: true, normal: (0.0,-1.0) ),

        // bottom-right floor portal (red)
        PortalSide ( x: 730.0, y: 718.0, z: Some(660), ang: -1.57, w: 50, h: 100, color: "red", name: "portalB5", destination: "portalB3", start_enabled: true, normal: (0.0,-1.0) ),

        ParticleSys ( x: 400, y: 618, z: 400.0, config: "psys/psys1-up" ),

        
        Sprite ( x: 500.0, y: 375.0, sprite: "entities/grid_structure", z: 1.0, angle: 0.0, src: (-4,-3,8,6), ),

        StaticLevelProp( x: 320, y: 95, w: 98, h: 24.0, ang: 0.78, image: "entities/box", img_w: 48.0, img_h: 48.0,
                z: Some(100.0) ),


        ParticleSys ( x: 741, y: 55, z: 400.0, config: "psys/psys1" ),
        ParticleSys ( x: 730, y: 52, z: 600.0, config: "psys/psys-watersplash" ),

        StaticLevelProp( x: 735, y: 52, w: 24, h: 24.0, ang: 0, image: "entities/exit", img_w: 24.0, img_h: 24.0,
                z: Some(40.0) ),

        ParticleSys ( x: 733, y: 117, z: 400.0, config: "psys/psys1" ),
        
        ParticleSys ( x: 738, y: 245, z: 400.0, config: "psys/psys1" ),

        ParticleSys ( x: 721, y: 375, z: 400.0, config: "psys/psys1" ),

        ParticleSys ( x: 718, y: 499, z: 400.0, config: "psys/psys1" ),
        ParticleSys ( x: 745, y: 500, z: 185.0, config: "psys/psys1" ),

        StaticLevelProp( x: 950, y: 220, w: 64, h: 24.0, ang: 0, image: "entities/box", img_w: 48.0, img_h: 48.0,
                z: Some(100.0) ),

        Exit ( x: 100.0, y: 120.0, z: Some(30.0), w: 28.0, h: 28.0, name: "", destination: "overview_1"),
        
        Ghost ( x: 200.0, y: 100.0 ),

    ],
)