LevelConfig(
    name: "c",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 1000.0, max_y: 750.0,
        solid_sides: (true, true, true, true),
    ),
    items: [
        Player ( x: 250.0, y: 350.0 ),
        
        Sprite ( x: 500.0, y: 375.0, sprite: "entities/tile-bg", z: 1.0, angle: 0.0, src: (-4,-3,8,6), ),

        //Portal ( x: 600.0, y: 700.0, w: 50.0, h: 50.0, name: "portal_b", destination: ""),

        Platform ( x: 700.0, y: 250.0, w: 100.0, h: 20.0, ang: 0.0),
        Platform ( x: 450.0, y: 200.0, w: 100.0, h: 20.0, ang: 0.1),
        Platform ( x: 950.0, y: 500.0, w: 50.0, h: 20.0, ang: -0.02),

        Exit ( x: 100.0, y: 100.0, w: 25.0, h: 25.0, name: "", destination: "mazea"),

        Ghost ( x: 200.0, y: 100.0 ),

    ],
)