LevelConfig(
    name: "Button Testing Room",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 600.0, max_y: 600.0,
        solid_sides: (true, true, true, true),
    ),
    soundtrack: "Suri Title theme.mp3",
    items: [
        Player ( x: 300.0, y: 150.0, player: Some(Milo) ),

        
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 301.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 301.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 303.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),
        Ghost ( x: 300.0, y: 300.0 ),

        DynPickup ( pickup_type: Point, x: 200, y: 500, ),
        DynPickup ( pickup_type: Point, x: 200, y: 500, ),
        DynPickup ( pickup_type: Point, x: 200, y: 500, ),
        DynPickup ( pickup_type: Point, x: 201, y: 501, ),
        DynPickup ( pickup_type: Point, x: 200, y: 500, ),
        DynPickup ( pickup_type: Point, x: 200, y: 300, ),
        DynPickup ( pickup_type: Point, x: 200, y: 300, ),
        DynPickup ( pickup_type: Point, x: 200, y: 301, ),
        DynPickup ( pickup_type: Point, x: 200, y: 300, ),
        DynPickup ( pickup_type: Point, x: 200, y: 300, ),
        DynPickup ( pickup_type: Point, x: 200, y: 100, ),
        DynPickup ( pickup_type: Point, x: 200, y: 100, ),
        DynPickup ( pickup_type: Point, x: 200, y: 101, ),
        DynPickup ( pickup_type: Point, x: 200, y: 100, ),
        DynPickup ( pickup_type: Point, x: 200, y: 100, ),

        DynPickup ( pickup_type: Point, x: 500, y: 500, ),
        DynPickup ( pickup_type: Point, x: 500, y: 501, ),
        DynPickup ( pickup_type: Point, x: 500, y: 500, ),
        DynPickup ( pickup_type: Point, x: 500, y: 500, ),
        DynPickup ( pickup_type: Point, x: 500, y: 500, ),
        DynPickup ( pickup_type: Point, x: 500, y: 300, ),
        DynPickup ( pickup_type: Point, x: 500, y: 300, ),
        DynPickup ( pickup_type: Point, x: 500, y: 301, ),
        DynPickup ( pickup_type: Point, x: 500, y: 300, ),
        DynPickup ( pickup_type: Point, x: 500, y: 300, ),
        DynPickup ( pickup_type: Point, x: 500, y: 300, ),
        DynPickup ( pickup_type: Point, x: 500, y: 100, ),
        DynPickup ( pickup_type: Point, x: 500, y: 101, ),
        DynPickup ( pickup_type: Point, x: 500, y: 100, ),
        DynPickup ( pickup_type: Point, x: 500, y: 100, ),
    ],
)