LevelConfig(
    name: "mazea",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 2000.0, max_y: 1000.0,
        solid_sides: (true, false, true, false),
    ),
    items: [
        Player ( x: 300.0, y: 800.0 ),
        
        Sprite ( x: 500.0, y: 500.0, sprite: "entities/electric-bg", z: 1.0, angle: 0.1, ),

        //Portal ( x: 600.0, y: 700.0, w: 50.0, h: 50.0, name: "portal_b", destination: ""),

        // lower blockers
        Platform ( x: 1.0, y: 800.0, w: 200.0, h: 15.0, ang: -1.57),
        Platform ( x: 1999.0, y: 800.0, w: 200.0, h: 15.0, ang: -1.57),

        // lower left-right portals
        Portal ( x: 930.0, y: 950, w: 20.0, h: 20.0, name: "lower_left", destination: "lower_right_out"),
        Portal ( x: 1070.0, y: 950, w: 20.0, h: 20.0, name: "lower_right", destination: "lower_left_out"),
        Portal ( x: 500.0, y: 600, w: 20.0, h: 20.0, name: "lower_left_out", destination: ""),
        Portal ( x: 1500.0, y: 600, w: 20.0, h: 20.0, name: "lower_right_out", destination: ""),

        Platform ( x: 1000.0, y: 500.0, w: 400.0, h: 20.0, ang: 0.0),
        Platform ( x: 1000.0, y: 500.0, w: 500.0, h: 20.0, ang: -1.57),

        Exit ( x: 1200.0, y: 400.0, w: 25.0, h: 25.0, name: "", destination: "a"),

        Ghost ( x: 200.0, y: 100.0 ),

    ],
)