LevelConfig(
    name: "start",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 500.0, max_y: 1000.0,
        solid_sides: (false, true, false, true),
    ),
    items: [
        Player ( x: 250.0, y: -200.0 ),
        
        Sprite ( x: 500.0, y: 500.0, sprite: "entities/electric-bg", z: 1.0, angle: 0.0, ),

        Platform ( x: 250.0, y: 999.0, w: 170.0, h: 15.0, ang: 0.0),


        Exit ( x: 250.0, y: 900.0, w: 25.0, h: 25.0, name: "", destination: "test"),

        Ghost ( x: 200.0, y: 100.0 ),

    ],
)