LevelConfig(
    name: "Start Area",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 1000.0, max_y: 750.0,
        solid_sides: (true, true, true, true),
    ),
    soundtrack: "Suri Boogie.mp3",
    items: [
        Player ( x: 80.0, y: 150.0 ),
        Player ( x: 520.0, y: 690.0, player: Some(Milo) ),
        PlayerNamed ( x: 300.0, y: 560.0, name: "a" ),
        PlayerNamed ( x: 520.0, y: 690.0, name: "a", player: Some(Milo) ),
        PlayerNamed ( x: 900.0, y: 270.0, name: "b" ),
        PlayerNamed ( x: 520.0, y: 690.0, name: "b", player: Some(Milo) ),

        ImportSection ( x: 0, y: 0, name: "sections/dirt-bg" ),
        
        Sprite ( x: 500.0, y: 375.0, sprite: "entities/tile-bg", z: 10.0, angle: 0.0, src: (-4,-3,8,6), shader: Some("overlay") ),

        //Portal ( x: 600.0, y: 700.0, w: 50.0, h: 50.0, name: "portal_b", destination: ""),

        DynEmptyBox ( x: 500.0, y: 680.0, w: 60.0, h: 40.0, ang: 0.0),
        EmptyBox ( x: 700.0, y: 670.0, w: 110.0, h: 55.0, ang: 3.1415),

        Platform ( x: 300.0, y: 425.0, w: 100.0, h: 20.0, ang: 0.0),
        //Platform ( x: 450.0, y: 350.0, w: 100.0, h: 20.0, ang: 0.0),
        Platform ( x: 700.0, y: 200.0, w: 100.0, h: 20.0, ang: 0.0),

        Exit ( x: 300.0, y: 500.0, w: 25.0, h: 25.0, name: "", destination: "start_a:a"),

        Exit ( x: 900.0, y: 200.0, w: 25.0, h: 25.0, name: "", destination: "start_b:b"),

        ExitCustom ( x: 68.0, y: 71.0, z: Some(41.0), w: 48.0, h: 48.0, image: "entities/exit-tile", img_w: 96.0, img_h: 96.0,
            name: "", destination: "overview_1:exit" ),

        //ExitCustom ( x: 900.0, y: 100.0, w: 25.0, h: 25.0, name: "", destination: "b", image: "entities/portal", img_w: 48.0, img_h: 48.0),

        Ghost ( x: 200.0, y: 100.0 ),

        Geometry (
            data: LevelGridData (
                patches: [
                    LevelPatch(
                        center: (500.0,375.0), size: (400.0,400.0), 
                        cell_nums: (4,4),
                        cell_data: 
                           [0, 1, 1, 1, 0,
                            1, 1, 1, 1, 1,
                            1, 1, 0, 1, 1,
                            1, 1, 0, 1, 1,
                            0, 1, 1, 1, 0 ],
                        z_order: 520.0,
                        image_path: "/images/dirt-grid-2.png",
                        color: (0.5, 0.75, 1.0, 1.0),
                    ),
                    LevelPatch(
                        center: (500.0,375.0), size: (1000.0,750.0), 
                        cell_nums: (12,10),
                        cell_data: 
                           [0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
                            0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
                            0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
                            0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
                            1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
                            1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
                            1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
                            1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
                            1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
                            1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
                            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, ],
                        z_order: 20.0,
                        image_path: "/images/dirt-grid-1.png",
                        color: (1.0, 1.0, 1.0, 1.0),
                    ),
                ]
            ),

        ),

    ],
)