LevelConfig(
    name: "test_old",
    bounds: (
        min_x: -50.0, min_y: -1000.0, max_x: 4500.0, max_y: 6000.0,
        solid_sides: (false, false, false, false),
    ),
    soundtrack: "",
    items: [
        Player ( x: 1000.0, y: 2000.0 ),
        //
        Sprite ( x: 2225.0, y: 2500.0, sprite: "entities/electric-bg", z: 1.0, angle: 0.1, src: (-50,-50,100,100), ),
        Sprite ( x: 2225.0, y: 2500.0, sprite: "entities/tile-bg", z: 1.0, angle: 0.0, src: (-18,-28,38,56), ),
        
        Platform ( x: 150.0, y: 2000.0, w: 1200.0, h: 100.0, ang: -1.57),
        Platform ( x: 4000.0, y: 2000.0, w: 1200.0, h: 100.0, ang: 1.57),

        DynEmptyBox ( x: 400.0, y: 50.0, w: 40.0, h: 40.0, ang: 0.0),

        Portal ( x: 300.0, y: 1900.0, w: 30.0, name: "b", destination: "", enabled: true ),

        Portal ( x: 2000.0, y: -500.0, w: 30.0, name: "a", destination: "b", enabled: true ),

        Bowl ( x: 500.0, y: 500.0 ),

        Platform ( x: 400.0, y: 3000.0, w: 400.0, h: 20.0, ang: -0.1),
        Platform ( x: 25.0, y: 3000.0, w: 400.0, h: 20.0, ang: 0.1),
        Platform ( x: 1000.0, y: 2750.0, w: 400.0, h: 20.0, ang: 0.0),
        Platform ( x: 1400.0, y: 3000.0, w: 400.0, h: 20.0, ang: 0.0),
        Platform ( x: 2400.0, y: 3000.0, w: 100.0, h: 20.0, ang: 0.0),
        Platform ( x: 3500.0, y: 2900.0, w: 600.0, h: 20.0, ang: -0.15),
        Ghost ( x: 300.0, y: 2900.0 ),

        Sprite ( x: 3505.0, y: 2455.0, sprite: "entities/white-tile-bg", z: 1.0, angle: 1.57, src: (-2,-2,4,4), ),

        // platforms are "roof" over exit to avoid exit that way
        Platform ( x: 3400.0, y: 2380.0, w: 103.0, h: 15.0, ang: -0.16),
        Platform ( x: 3600.0, y: 2380.0, w: 103.0, h: 15.0, ang: 0.16),
        Exit (x: 3500.0, y: 2450.0, w: 20.0, h: 20.0, name: "exit", destination: "start" ) ,
        Platform ( x: 3500.0, y: 2520.0, w: 80.0, h: 15.0, ang: 0),
    ],
)