LevelConfig(
    name: "test_small",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 2000.0, max_y: 2000.0,
        solid_sides: (false, true, false, true),
    ),
    soundtrack: "8bitgame3-jump.ogg",
    items: [
        Player ( x: 500.0, y: 370.0 ),

        Sprite ( x: 1000.0, y: 1000.0, sprite: "entities/electric-bg", z: 1.0, angle: 0.1, src: (-3,-3,3,3), ),

        Portal ( x: 1000.0, y: 900.0, w: 50.0, name: "to_top", destination: "over_exit", start_enabled: true),
        
        Platform ( x: 200.0, y: 500.0, w: 400.0, h: 20.0, ang: 0.0),
        Platform ( x: 1400.0, y: 1500.0, w: 400.0, h: 20.0, ang: 0.0),
        Platform ( x: 900.0, y: 1000.0, w: 100.0, h: 20.0, ang: 0.0),
        Platform ( x: 200.0, y: 1800.0, w: 600.0, h: 20.0, ang: -0.375),

        Bowl ( x: 500.0, y: 420.0 ),

        Portal ( x: 1900.0, y: -50.0, w: 50.0, name: "over_exit", destination: "", start_enabled: true),

        Exit ( x: 1950.0, y: -250.0, w: 40.0, h: 40.0, name: "exit", destination: "test_old"),

        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),

        Ghost ( x: 300.0, y: 2900.0 ),
    ],
)