LevelConfig(
    name: "Testing Small",
    bounds: (
        min_x: 0.0, min_y: 0.0, max_x: 2000.0, max_y: 2000.0,
        solid_sides: (false, true, false, true),
    ),
    soundtrack: "pirates/track-08.mp3",
    items: [
        Player ( x: 100.0, y: 100.0 ),

        Sprite ( x: 1000.0, y: 1000.0, sprite: "entities/electric-bg", z: 1.0, angle: 0.1, src: (-3,-3,3,3), ),

        Sprite ( x: 1000.0, y: 0.0, sprite: "entities/yellow-dashes", z: 20.0, angle: 0.0, src: (0,0,15,1), ),
        Sprite ( x: 1000.0, y: 2000.0, sprite: "entities/yellow-dashes", z: 20.0, angle: 0.0, src: (0,0,15,1), ),

        Portal ( x: 1000.0, y: 800.0, w: 50.0, name: "to_top", destination: "over_exit", start_enabled: true),
        
        Platform ( x: 0.0, y: -270.0, w: 260.0, h: 25.0, ang: 1.57),

        Platform ( x: 320.0, y: 500.0, w: 320.0, h: 20.0, ang: 0.0),
        // left wall of struct around portal at top
        Platform ( x: 910.0, y: 390.0, w: 230.0, h: 20.0, ang: 1.57),
        //Platform ( x: 630.0, y: 770.0, w: 260.0, h: 20.0, ang: 0),
        Platform ( x: 645.0, y: 690.0, w: 275.0, h: 20.0, ang: -0.3),

        // top and bottom angled platforms
        Platform ( x: 1690.0, y: -300.0, w: 240.0, h: 25.0, ang: 1.57),
        Platform ( x: 1300.0, y: 50.0, w: 420.0, h: 20.0, ang: -0.3),
        Platform ( x: 1845.0, y: -550.0, w: 180.0, h: 20.0, ang: 0),
        Platform ( x: 1505.0, y: 1990.0, w: 200.0, h: 25.0, ang: -0.3), // bottom duplicate
        Platform ( x: 1670.0, y: 2000.0, w: 70.0, h: 25.0, ang: 1.57),

        Platform ( x: 2000.0, y: -275.0, w: 260.0, h: 25.0, ang: 1.57),
        //Platform ( x: 2040.0, y: -85.0, w: 95.0, h: 20.0, ang: -1.1),

        // bottom left platforms
        Platform ( x: 390.0, y: 1085.0, w: 325.0, h: 20.0, ang: 1.57),
        Platform ( x: 490.0, y: 1390.0, w: 100.0, h: 20.0, ang: 0.0),
        Platform ( x: 690.0, y: 1190.0, w: 50.0, h: 20.0, ang: 0.0),

        // top inner platforms
        Platform ( x: 1270.0, y: 300.0, w: 370.0, h: 20.0, ang: -0.3),
        Platform ( x: 1330.0, y: 500.0, w: 270.0, h: 20.0, ang: -0.3),

        Platform ( x: 1400.0, y: 1500.0, w: 400.0, h: 20.0, ang: 0.0),

        Platform ( x: 700.0, y: 960.0, w: 150.0, h: 20.0, ang: 0.0),
        Platform ( x: 1000.0, y: 1150.0, w: 100.0, h: 20.0, ang: 0.0),


        Platform ( x: 350.0, y: 1800.0, w: 400.0, h: 20.0, ang: -0.375),

        Bowl ( x: 500.0, y: 420.0 ),

        Portal ( x: 1900.0, y: -50.0, w: 50.0, name: "over_exit", destination: "", start_enabled: true),

        Exit ( x: 1880.0, y: -300.0, w: 40.0, h: 40.0, name: "exit", destination: "test_old"),

        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),
        Ghost ( x: 1600.0, y: 300.0 ),

        Ghost ( x: 300.0, y: 2900.0 ),
    ],
)