ParticleSysConfig(
    width: 5,
    height: 5,
    scale: (0.5, 0.5),
    ang: 0,
    ang_vel: 0.0,
    vel: (0, 0),
    vel_acc: (0, 0),
    ang_range: 3.14,
    ang_vel_range: 0.0,
    vel_range: (400, 400),
    vel_acc_range: (0, 0),
    sprite: Some("/images/light-ball.png"),
    start_alpha: 0.8,
    end_alpha: 0.0,
    color: None,
    emit_rate: 0.001,
    max_particles: 1250,
    ttl: 0.25,
    system_ttl: Some(0.05),
    destroy_on_end: true,
    world_positions: true,
)