ParticleSysConfig(
    width: 60,
    height: 15,
    scale: (0.75, -0.35),
    ang: 0,
    ang_vel: 0,
    vel: (0, -300),
    vel_acc: (0, 460),
    ang_range: 0,
    ang_vel_range: 0,
    vel_range: (10, 20),
    vel_acc_range: (50, 100),
    sprite: Some("/images/raindrop.png"),
    start_alpha: 0.9,
    end_alpha: 0.0,
    color: None,
    emit_rate: 0.01,
    max_particles: 400,
    ttl: 1.1,
    destroy_on_end: false,
    world_positions: false,
)