ParticleSysConfig(
    width: 20,
    height: 10,
    scale: (2.0, 2.0),
    ang: 0,
    ang_vel: 0,
    vel: (0, -20),
    vel_acc: (0, 100),
    ang_range: 1.0,
    ang_vel_range: 0,
    vel_range: (40, 30),
    vel_acc_range: (0, 0),
    sprite: Some("/images/water-splash.png"),
    start_alpha: 0.5,
    end_alpha: 0.1,
    color: None,
    emit_rate: 0.03,
    max_particles: 100,
    ttl: 1.0,
    destroy_on_end: false,
    world_positions: false,
)