ParticleSysConfig(
    width: 15,
    height: 15,
    scale: (0.8, 0.8),
    ang: 0,
    ang_vel: 0,
    vel: (0, 0),
    vel_acc: (0, 0),
    ang_range: 0,
    ang_vel_range: 0,
    vel_range: (80, 80),
    vel_acc_range: (50, 50),
    sprite: Some("/images/smoke_1.png"),
    start_alpha: 0.15,
    end_alpha: 0.0,
    color: None,
    emit_rate: 0.05,
    max_particles: 50,
    ttl: 0.5,
    system_ttl: Some(0.3),
    destroy_on_end: true,
    world_positions: true,
)