ParticleSysConfig(
    width: 5,
    height: 5,
    scale: (2.0, 2.0),
    ang: 0,
    ang_vel: 0,
    vel: (0, 100),
    vel_acc: (0, 50),
    ang_range: 0,
    ang_vel_range: 0,
    vel_range: (50, 50),
    vel_acc_range: (0, 0),
    sprite: Some("/images/y.png"),
    start_alpha: 1.0,
    end_alpha: 0.1,
    color: None,
    emit_rate: 0.05,
    max_particles: 50,
    ttl: 0.5,
    //system_ttl: Some(0.3),
    destroy_on_end: false,
    world_positions: false,
)